/* Tu CSS va aqui */

/* Header */

body
{
	font-family:sans-serif;
}
body p
{
	font-family:sans-serif;
    
}
/*--------- Header */

header a,h3{
	color: #fff;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #f4f0bb;
}

#main-navigation{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul{
	background: rgba(218,44,56,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.btn-nav p{
    margin: 10px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 17px;
    vertical-align: middle;
}

.btn-nav span{
    background-color: #fff;
   
}
/* -----------Hero-----------*/

.centrado{ /* --------centrado decente--------*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}
.centrar{
    margin: 0 auto; /* --------centrado decente--------*/
    text-align: center;
}

.hero-image
{
	background: url(../img/header.jpg);
	background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
	color: #fff; 
   
}
.frase p{
    font-family:sans-serif;
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
}
.frase hr{
    background: #f05f40;
    border-color: #f05f40;
    width: 30px;
    height: 1px;
}
.frase h1{
  font-size: 25px;
}
 .my-button {
     width: 13s0px;
     height: 30px;
     border-radius:15px ;
}
 .frase button {
     background-color: #f05f40;
     color: #fff;
}


/* --------section about-me--------*/


.servicios{
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 0 auto;
}

.servicios ul{
	margin:0;  
	padding:0;
}
.servicios ul li i{
	
	font-size: 30px;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 20px;

}
.servicios ul li
{
	list-style: none;
	display: inline-block;
	margin-top: 20px;
}
.servicios h6{
	    width: 176px;
}
.about-me{
    background: #f05f40;
    color: #fff;
    text-align: center;
    margin: 0;
    
}
.about-me h3{
     margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    vertical-align: middle;
    
}
.about-me p{
    margin: 0;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 20px;
    
}
.about-me hr{
    background: #fff;
    border-color: #fff;
    width: 30px;
    height: 1px;
}
/* --------section icons--------*/
.icons-view li {
    
    list-style: none;
    display: inline-block;
    color: #f05f40;
    font-size: 50px;
    text-align: center;
   
}
.icons-view li h4 {
    text-align: center;
    color: #000;
    margin: 0;
    padding:5px; 
    text-align: center;
    font-family: sans-serif;
}
.icons-view li p {
    text-align: center;
    color: rgba(49, 43, 43, 0.4);
    margin: 0;
    padding:4px;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}
.servicios hr {
    background: #f05f40;
    border-color:#f05f40;
    width: 30px;
    height: 1px;
    text-align: center;
    margin-bottom: 10px;
}
.sub-title {
    padding-top: 50px;
    color:black;
   text-align: center;
}
.galeria img{
    background-size: cover;
    width: 100%;
    padding: 0 auto;
}
.galeria{
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.sinpadding [class*="col-"]{
    padding:0;
}
.git-zone .my-button{
     background: #fff;
     color: #000;
     font-size: 12px
}
.git-zone{
    background-color: #000;
    text-align: center;
}
.git-zone p{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer hr{
    background: #f05f40;
    border-color: #f05f40;
    width: 30px;
    height: 1px;
}
.footer h6{
    text-align: center;
}
.footer {
    text-align:center;
    font-size: 30px;
    padding-bottom: 50px;
}
.footer p {
    text-align:center;
    font-size: 15px;
}


